<?xml version="1.0" encoding="UTF-8"?>
 <persistence 
  version="2.0" 
  xmlns="http://java.sun.com/xml/ns/persistence" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/persistence 
  http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="main">
    <provider>org.babyfish.hibernate.jpa.HibernatePersistenceProvider</provider>
    <class>org.babyfish.test.hibernate.model.osetandnset.Student</class>
    <class>org.babyfish.test.hibernate.model.osetandnset.Course</class>
        <properties>
        <property name="hibernate.connection.driver_class" value="org.hsqldb.jdbc.JDBCDriver"/>
            <property name="hibernate.connection.url" value="jdbc:hsqldb:mem:org.babyfish.test.hibernate.model.osetandnset"/>
            <property name="hibernate.connection.username" value="sa"/>
            <property name="hibernate.connection.password" value="123"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect"/>
            <property name="hibernate.order_updates" value="true"/>
            <property name="hibernate.use_identifer_rollback" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="create"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.c3p0.min_size" value="5"/>
            <property name="hibernate.c3p0.max_size" value="20"/>
            <property name="hibernate.c3p0.timeout" value="1800"/>
            <property name="hibernate.c3p0.max_statements" value="50"/>
        </properties>
  </persistence-unit>
 </persistence>
