<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:org.babyfish.hibernate.fetch</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.use_identifer_rollback">true</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">1800</property>
        <property name="c3p0.max_statements">50</property>
        
        <!-- 
                When data base is Oracle, use this.
                This property can let babyfish-hiberante create
                the user defined analytic function "DISTINCT_RANK(ROWID)"
                automatically when the XEntityManagerFactory/XSessionFactory
                is created.
                
                If the dialect(can be overridden at runtime) 
                does not implement the interface 
                "org.babyfish.hibernate.dialect.DistinctLimitDialect",
                this property will be ignored.
            -->
            <property name="babyfish.hibernate.create_oracle_distinct_rank">true</property>
    </session-factory>
</hibernate-configuration>
